@import '../src/breakpoint-helper';

$bps: (
  'xs': 416px,
  'sm': 600px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1520px,
);

.breakpoint-helper {
  font-family: '#{breakpoint-string($bps)}';
}

:root {
  --bph-xs: 274px;
  --bph-sm: 486px;
  --bph-md: 668px;
  --bph-lg: 884px;
  --bph-xl: 1090px;
  --bph-xxl: 1290px;
}

pre {
  background-color: lightgray;
  padding: 20px;
  overflow: auto;
}
